// Colors 

$color-default: #51ddfc;
$color-success: #63cc82;
$color-error: red; // original - #e4757a
$color-warning: orange; // original - #fd7856
$color-info: #927bc1;
$color-link: #51ddfc;

$color-default-hover: lighten(#51ddfc, 15%);
$color-success-hover: darken(#63cc82, 15%);
$color-error-hover: lighten(red, 25%);
$color-warning-hover: darken(orange, 10%);
$color-info-hover: lighten(#927bc1, 10%);


$color-theme-1:#927bc1;
$color-theme-2:#fd7856;
$color-theme-3: #deb2ee;
$color-theme-4: #7ee6fd;
$color-theme-5:#88d9a0;
$color-theme-6: #4da2bb;
$color-theme-7:#ec9fa3;
$color-theme-8:#fd9f85;
$color-theme-9:#e4757a;
$color-theme-10:#63cc82;
$color-theme-11:#51ddfc;
$color-theme-12: #80e8d1;

$hov-color-nav-link: #fff;
$hov-backcolor-nav-link: lighten(#58e1c1, 20%);


// Font stacks
$stack-lato: 'Lato', sans-serif;



// Media query breakpoints

$brk-wide: '(min-width: 768px)';

// Borders

$input-border: 5px solid #58e1c1;
$image-frame: 1px solid #ccc;