/* ============================================= */
/*              Images                           */
/* ============================================= */

.img-avatar {
  @include img (block, auto, auto, 10px, 100%, 100%);

    &:hover {
      transform: scale(1.15);
      transition: transform .3s;
    }
}

.img-frame {
  @include img (block, auto, auto, 10px, 100%);
  padding: 13px;
  border: $image-frame;
}

.img-logo {
  @include img (block, auto, auto);
}